body {
  background-image: url("smeshariiBackground_.jpg");
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.top-images {
  border-color: rgba(0, 50, 190, 0.5);
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
}

#transpBackground {
  background-color: rgba(255, 255, 255, 0.5);
}
